## Exercises

In [1]:
using CSV, DataFrames, Statistics

### Exercise 1

We will work with the `fish_data.csv` dataset from https://www.kaggle.com/datasets/taweilo/fish-species-sampling-weight-and-height-data. The file is already available in the `Day3` folder.

In [2]:
fish_data = CSV.read("fish_data.csv", DataFrame)

4080Ã—4 DataFrame
  Row â”‚ species                length   weight   w_l_ratio
      â”‚ String31               Float64  Float64  Float64
â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
    1 â”‚ Anabas testudineus       10.66     3.45       0.32
    2 â”‚ Anabas testudineus        6.91     3.27       0.47
    3 â”‚ Anabas testudineus        8.38     3.46       0.41
    4 â”‚ Anabas testudineus        7.57     3.36       0.44
    5 â”‚ Anabas testudineus       10.83     3.38       0.31
    6 â”‚ Anabas testudineus        9.35     3.28       0.35
    7 â”‚ Anabas testudineus        9.42     3.33       0.35
    8 â”‚ Anabas testudineus        7.92     3.13       0.39
  â‹®   â”‚           â‹®               â‹®        â‹®         â‹®
 4074 â”‚ Sillaginopsis panijus    30.56     6.11       0.2
 4075 â”‚ Sillaginopsis panijus    30.61     6.08       0.2
 4076 â”‚ Sillaginopsis panijus    30.56     6.12       0.2
 4077 â”‚ Sillaginopsis panijus    29.66     6.11       0.21
 4078 â”‚ Sillaginopsis panijus    32.81     6.25       0.19
 4079 â”‚ Sillaginopsis panijus    29.78     6.11       0.21
 4080 â”‚ Sillaginopsis panijus    31.62     6.14       0.19
                                          4065 rows omitted

 * Create two toy dataframes of from the first 200 rows. Each dataframe should have 100 rows.
 * Add to the first dataframe the following: `Sparus aurata, 22, 4.2,0.19`
 * Add to the first dataframe the following: `Seriola dumerili, 120, 20,0.17`. Use a named tuple for that. 
 * Create a new column to the second dataframe and name it `Farmed`. Give all the records the value `No`
 * Append the 2nd dataframe to the first one. Keep track for which dataframe each record originated.
 * In the original dataframe which fish species has the largest mean `weight` and which the lowest `w_l_ratio`.

In [3]:
fish_1 = fish_data[1:100,:]
fish_2 = fish_data[101:200,:]

100Ã—4 DataFrame
 Row â”‚ species             length   weight   w_l_ratio
     â”‚ String31            Float64  Float64  Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Anabas testudineus     7.35     3.29       0.45
   2 â”‚ Anabas testudineus     8.58     3.24       0.38
   3 â”‚ Anabas testudineus     7.17     3.34       0.47
   4 â”‚ Anabas testudineus     9.41     3.31       0.35
   5 â”‚ Anabas testudineus     8.41     3.12       0.37
   6 â”‚ Anabas testudineus     7.01     3.25       0.46
   7 â”‚ Anabas testudineus     6.54     3.35       0.51
   8 â”‚ Anabas testudineus     7.08     3.25       0.46
  â‹®  â”‚         â‹®              â‹®        â‹®         â‹®
  94 â”‚ Anabas testudineus     9.18     3.43       0.37
  95 â”‚ Anabas testudineus     8.64     3.38       0.39
  96 â”‚ Anabas testudineus     8.64     3.12       0.36
  97 â”‚ Anabas testudineus     7.04     3.37       0.48
  98 â”‚ Anabas testudineus     7.29     3.43       0.47
  99 â”‚ Anabas testudineus     7.46     3.31       0.44
 100 â”‚ Anabas testudineus     9.06     3.29       0.36
                                        85 rows omitted

Add to the first dataframe the following: `Sparus aurata, 22, 4.2,0.19`

In [4]:
push!(fish_1,("Sparus aurata", 22, 4.2, 0.19))

101Ã—4 DataFrame
 Row â”‚ species             length   weight   w_l_ratio
     â”‚ String31            Float64  Float64  Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Anabas testudineus    10.66     3.45       0.32
   2 â”‚ Anabas testudineus     6.91     3.27       0.47
   3 â”‚ Anabas testudineus     8.38     3.46       0.41
   4 â”‚ Anabas testudineus     7.57     3.36       0.44
   5 â”‚ Anabas testudineus    10.83     3.38       0.31
   6 â”‚ Anabas testudineus     9.35     3.28       0.35
   7 â”‚ Anabas testudineus     9.42     3.33       0.35
   8 â”‚ Anabas testudineus     7.92     3.13       0.39
  â‹®  â”‚         â‹®              â‹®        â‹®         â‹®
  95 â”‚ Anabas testudineus     6.63     3.18       0.48
  96 â”‚ Anabas testudineus     7.2      3.47       0.48
  97 â”‚ Anabas testudineus     7.31     3.26       0.45
  98 â”‚ Anabas testudineus     8.94     3.29       0.37
  99 â”‚ Anabas testudineus     7.06     3.29       0.47
 100 â”‚ Anabas testudineus     9.4      3.44       0.37
 101 â”‚ Sparus aurata         22.0      4.2        0.19
                                        86 rows omitted

Add to the first dataframe the following: `Seriola dumerili, 120, 20,0.17`. Use a named tuple for that.

In [5]:
push!(fish_1, (species="Seriola dumerili", length=120, weight=20, w_l_ratio=0.17))

102Ã—4 DataFrame
 Row â”‚ species             length   weight   w_l_ratio
     â”‚ String31            Float64  Float64  Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Anabas testudineus    10.66     3.45       0.32
   2 â”‚ Anabas testudineus     6.91     3.27       0.47
   3 â”‚ Anabas testudineus     8.38     3.46       0.41
   4 â”‚ Anabas testudineus     7.57     3.36       0.44
   5 â”‚ Anabas testudineus    10.83     3.38       0.31
   6 â”‚ Anabas testudineus     9.35     3.28       0.35
   7 â”‚ Anabas testudineus     9.42     3.33       0.35
   8 â”‚ Anabas testudineus     7.92     3.13       0.39
  â‹®  â”‚         â‹®              â‹®        â‹®         â‹®
  96 â”‚ Anabas testudineus     7.2      3.47       0.48
  97 â”‚ Anabas testudineus     7.31     3.26       0.45
  98 â”‚ Anabas testudineus     8.94     3.29       0.37
  99 â”‚ Anabas testudineus     7.06     3.29       0.47
 100 â”‚ Anabas testudineus     9.4      3.44       0.37
 101 â”‚ Sparus aurata         22.0      4.2        0.19
 102 â”‚ Seriola dumerili     120.0     20.0        0.17
                                        87 rows omitted

Create a new column to the second dataframe and name it `Farmed`. Give all the records the value `No`

In [6]:
fish_2.Farmed .= "No";
fish_2

100Ã—5 DataFrame
 Row â”‚ species             length   weight   w_l_ratio  Farmed
     â”‚ String31            Float64  Float64  Float64    String
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Anabas testudineus     7.35     3.29       0.45  No
   2 â”‚ Anabas testudineus     8.58     3.24       0.38  No
   3 â”‚ Anabas testudineus     7.17     3.34       0.47  No
   4 â”‚ Anabas testudineus     9.41     3.31       0.35  No
   5 â”‚ Anabas testudineus     8.41     3.12       0.37  No
   6 â”‚ Anabas testudineus     7.01     3.25       0.46  No
   7 â”‚ Anabas testudineus     6.54     3.35       0.51  No
   8 â”‚ Anabas testudineus     7.08     3.25       0.46  No
  â‹®  â”‚         â‹®              â‹®        â‹®         â‹®        â‹®
  94 â”‚ Anabas testudineus     9.18     3.43       0.37  No
  95 â”‚ Anabas testudineus     8.64     3.38       0.39  No
  96 â”‚ Anabas testudineus     8.64     3.12       0.36  No
  97 â”‚ Anabas testudineus     7.04     3.37       0.48  No
  98 â”‚ Anabas testudineus     7.29     3.43       0.47  No
  99 â”‚ Anabas testudineus     7.46     3.31       0.44  No
 100 â”‚ Anabas testudineus     9.06     3.29       0.36  No
                                                85 rows omitted

Append the 2nd dataframe to the first one. Keep track for which dataframe each record originated.

In [7]:
vcat(fish_1,fish_2; source=:id, cols=:union)

202Ã—6 DataFrame
 Row â”‚ species             length   weight   w_l_ratio  Farmed   id
     â”‚ String31            Float64  Float64  Float64    String?  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Anabas testudineus    10.66     3.45       0.32  missing      1
   2 â”‚ Anabas testudineus     6.91     3.27       0.47  missing      1
   3 â”‚ Anabas testudineus     8.38     3.46       0.41  missing      1
   4 â”‚ Anabas testudineus     7.57     3.36       0.44  missing      1
   5 â”‚ Anabas testudineus    10.83     3.38       0.31  missing      1
   6 â”‚ Anabas testudineus     9.35     3.28       0.35  missing      1
   7 â”‚ Anabas testudineus     9.42     3.33       0.35  missing      1
   8 â”‚ Anabas testudineus     7.92     3.13       0.39  missing      1
  â‹®  â”‚         â‹®              â‹®        â‹®         â‹®         â‹®       â‹®
 196 â”‚ Anabas testudineus     9.18     3.43       0.37  No           2
 197 â”‚ Anabas testudineus     8.64     3.38       0.39  No           2
 198 â”‚ Anabas testudineus     8.64     3.12       0.36  No           2
 199 â”‚ Anabas testudineus     7.04     3.37       0.48  No           2
 200 â”‚ Anabas testudineus     7.29     3.43       0.47  No           2
 201 â”‚ Anabas testudineus     7.46     3.31       0.44  No           2
 202 â”‚ Anabas testudineus     9.06     3.29       0.36  No           2
                                                       187 rows omitted

In the original dataframe which fish species has the largest mean `weight` and which the lowest mean `w_l_ratio`.

In [8]:
grp_fish = groupby(fish_data, :species)

GroupedDataFrame with 9 groups based on key: species
First Group (476 rows): species = "Anabas testudineus"
 Row â”‚ species             length   weight   w_l_ratio
     â”‚ String31            Float64  Float64  Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Anabas testudineus    10.66     3.45       0.32
   2 â”‚ Anabas testudineus     6.91     3.27       0.47
  â‹®  â”‚         â‹®              â‹®        â‹®         â‹®
 475 â”‚ Anabas testudineus     7.37     3.19       0.43
 476 â”‚ Anabas testudineus     9.12     3.08       0.34
                                       472 rows omitted
â‹®
Last Group (455 rows): species = "Sillaginopsis panijus"
 Row â”‚ species                length   weight   w_l_ratio
     â”‚ String31               Float64  Float64  Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Sillaginopsis panijus    32.52     6.23       0.19
   2 â”‚ Sillaginopsis panijus    30.18     6.13       0.2
  â‹®  â”‚           â‹®               â‹®        â‹®         â‹®
 455 â”‚ Sillaginopsis panijus    31.62     6.14       0.19
                                          452 rows omitted

In [9]:
summary_fish_species = combine(grp_fish, 
    [:weight => mean => :mean_weight_species, :w_l_ratio => mean => :mean_w_l_ratio])

9Ã—3 DataFrame
 Row â”‚ species                 mean_weight_species  mean_w_l_ratio
     â”‚ String31                Float64              Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Anabas testudineus                  3.27124        0.406176
   2 â”‚ Coilia dussumieri                   2.74771        0.112988
   3 â”‚ Otolithoides biauritus              3.19835        0.173013
   4 â”‚ Otolithoides pama                   3.84956        0.177149
   5 â”‚ Pethia conchonius                   4.58545        0.485747
   6 â”‚ Polynemus paradiseus                3.98978        0.313231
   7 â”‚ Puntius lateristriga                2.6328         0.203254
   8 â”‚ Setipinna taty                      3.10175        0.174438
   9 â”‚ Sillaginopsis panijus               6.14314        0.198264

In [10]:
summary_fish_species[findmax(summary_fish_species.mean_weight_species)[2],:]

DataFrameRow
 Row â”‚ species                mean_weight_species  mean_w_l_ratio
     â”‚ String31               Float64              Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   9 â”‚ Sillaginopsis panijus              6.14314        0.198264

In [11]:
summary_fish_species[findmin(summary_fish_species.mean_w_l_ratio)[2],:]

DataFrameRow
 Row â”‚ species            mean_weight_species  mean_w_l_ratio
     â”‚ String31           Float64              Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   2 â”‚ Coilia dussumieri              2.74771        0.112988

### Exercise 2

We will work with the `StudentPerformaceFactors.csv` dataset from https://www.kaggle.com/datasets/lainguyn123/student-performance-factors. The file is already available in the `Day3` folder.

* Create a GroupedDataFrame object for the different `Family_Income`. How many groups are there? Access the 2nd group. How many records it has?
* Estimate the mean `Exam_Score` for females and males together with the accompanying variance.
* Accomplish the same by this time using the DataFramesMeta syntax.
* Find the coefficient of variation of the `Exam_Score` from females and males of equal motivation levels. The coefficient of variation is the ratio between the standard deviation and the mean.
* Group by `Parental_Involvement` and `Family_Income` and find the minimum and maximum `Exam_Score` of each subcategory.

In [12]:
student_performance = CSV.read("StudentPerformanceFactors.csv", DataFrame)

6607Ã—20 DataFrame
  Row â”‚ Hours_Studied  Attendance  Parental_Involvement  Access_to_Resources   â‹¯
      â”‚ Int64          Int64       String7               String7               â‹¯
â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
    1 â”‚            23          84  Low                   High                  â‹¯
    2 â”‚            19          64  Low                   Medium
    3 â”‚            24          98  Medium                Medium
    4 â”‚            29          89  Low                   Medium
    5 â”‚            19          92  Medium                Medium                â‹¯
    6 â”‚            19          88  Medium                Medium
    7 â”‚            29          84  Medium                Low
    8 â”‚            25          78  Low                   High
  â‹®   â”‚       â‹®            â‹®                â‹®                     â‹®            â‹±
 6601 â”‚            12          98  Medium                Low                   â‹¯
 6602 â”‚            20          83  Medium                Low
 6603 â”‚            25          69  High                  Medium
 6604 â”‚            23          76  High                  Medium
 6605 â”‚            20          90  Medium                Low                   â‹¯
 6606 â”‚            10          86  High                  High
 6607 â”‚            15          67  Medium                Low
                                                16 columns and 6592 rows omitted

Create a GroupDataFrame object for the different `Family_Income`. How many groups are there? Access the 2nd group. How many records it has?

In [13]:
grp_income = groupby(student_performance, :Family_Income)

GroupedDataFrame with 3 groups based on key: Family_Income
First Group (2672 rows): Family_Income = "Low"
  Row â”‚ Hours_Studied  Attendance  Parental_Involvement  Access_to_Resources   â‹¯
      â”‚ Int64          Int64       String7               String7               â‹¯
â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
    1 â”‚            23          84  Low                   High                  â‹¯
    2 â”‚            29          84  Medium                Low
  â‹®   â”‚       â‹®            â‹®                â‹®                     â‹®            â‹±
 2671 â”‚            20          90  Medium                Low
 2672 â”‚            10          86  High                  High
                                                16 columns and 2668 rows omitted
â‹®
Last Group (1269 rows): Family_Income = "High"
  Row â”‚ Hours_Studied  Attendance  Parental_Involvement  Access_to_Resources   â‹¯
      â”‚ Int64          Int64       String7               String7               â‹¯
â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
    1 â”‚            25          78  Low                   High                  â‹¯
    2 â”‚            23          98  Medium                Medium
  â‹®   â”‚       â‹®            â‹®                â‹®                     â‹®            â‹±
 1269 â”‚            25          69  High                  Medium
                                                16 columns and 1266 rows omitted

In [44]:
grp_income[2]

2666Ã—20 SubDataFrame
  Row â”‚ Hours_Studied  Attendance  Parental_Involvement  Access_to_Resources   â‹¯
      â”‚ Int64          Int64       String7               String7               â‹¯
â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
    1 â”‚            19          64  Low                   Medium                â‹¯
    2 â”‚            24          98  Medium                Medium
    3 â”‚            29          89  Low                   Medium
    4 â”‚            19          92  Medium                Medium
    5 â”‚            19          88  Medium                Medium                â‹¯
    6 â”‚            17          94  Medium                High
    7 â”‚            17          80  Low                   High
    8 â”‚            21          83  Medium                Medium
  â‹®   â”‚       â‹®            â‹®                â‹®                     â‹®            â‹±
 2660 â”‚            14          73  High                  Medium                â‹¯
 2661 â”‚            22          76  Low                   High
 2662 â”‚            19          70  Medium                Medium
 2663 â”‚            28          78  Medium                High
 2664 â”‚            12          98  Medium                Low                   â‹¯
 2665 â”‚            20          83  Medium                Low
 2666 â”‚            15          67  Medium                Low
                                                16 columns and 2651 rows omitted

Estimate the mean `Exam_Score` for females and males together with the accompanying variance.

In [14]:
combine(groupby(student_performance, :Gender), [:Exam_Score => mean => :mean_score, :Exam_Score => var => :var_score])

2Ã—3 DataFrame
 Row â”‚ Gender   mean_score  var_score
     â”‚ String7  Float64     Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Male        67.2289    14.1855
   2 â”‚ Female      67.2449    16.4386

Accomplish the same by this time using the DataFramesMeta syntax.

In [15]:
using DataFramesMeta

In [16]:
@combine(groupby(student_performance, :Gender),:mean_score = mean(:Exam_Score), :var_score=var(:Exam_Score))

2Ã—3 DataFrame
 Row â”‚ Gender   mean_score  var_score
     â”‚ String7  Float64     Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Male        67.2289    14.1855
   2 â”‚ Female      67.2449    16.4386

Find the coefficient of variation of `Exam_Score` from females and males of equal motivation levels. The coefficient of variation is the ratio of the standard deviation to the mean.

In [17]:
combine(groupby(student_performance,[:Gender, :Motivation_Level]), :Exam_Score => (x -> std(x)/mean(x)) => :coef_variation)

6Ã—3 DataFrame
 Row â”‚ Gender   Motivation_Level  coef_variation
     â”‚ String7  String7           Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Male     Low                    0.0550573
   2 â”‚ Male     Medium                 0.0541064
   3 â”‚ Male     High                   0.0604881
   4 â”‚ Female   Low                    0.0644236
   5 â”‚ Female   Medium                 0.0604188
   6 â”‚ Female   High                   0.0522756

Group by `Parental_Involvement` and `Family_Income` and find the minimum and maximum `Exam_Score` of each group.

In [18]:
@combine(groupby(student_performance,[:Parental_Involvement, :Family_Income]), 
    :min_score = minimum(:Exam_Score), :max_score=maximum(:Exam_Score))

9Ã—4 DataFrame
 Row â”‚ Parental_Involvement  Family_Income  min_score  max_score
     â”‚ String7               String7        Int64      Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Low                   Low                   56         94
   2 â”‚ Low                   Medium                58         98
   3 â”‚ Low                   High                  59        101
   4 â”‚ Medium                Low                   55         97
   5 â”‚ Medium                Medium                57         96
   6 â”‚ Medium                High                  58         97
   7 â”‚ High                  Low                   57         97
   8 â”‚ High                  Medium                58         99
   9 â”‚ High                  High                  59        100